HUB_PUBLIC_URL=hypha.yourdomain.com
HUB_PUBLIC_PORT=8301
HYPHA_PUBLIC_URL=hypha.yourdomain.com
HYPHA_PUBLIC_PORT=8300

#NOTE: If you are going to use standard HTTP ports (80 for HTTP and 443 for HTTPS),
# please set the URLs below manually without specifying the port (':80' or ':443'), as browsers automatically omit the port in such cases.

OAUTH_ISSUER_URL=https://${HUB_PUBLIC_URL}:${HUB_PUBLIC_PORT}
FRONTEND_BASE_URL=https://${HUB_PUBLIC_URL}:${HUB_PUBLIC_PORT}
HUB_WEB_APP_BASE_URL=https://${HUB_PUBLIC_URL}:${HUB_PUBLIC_PORT}
HYPHA_WEB_APP_BASE_URL=https://${HYPHA_PUBLIC_URL}:${HYPHA_PUBLIC_PORT}

PROFILE=dev
CONSUL_HOST=consul
CONSUL_PORT=8500
VAULT_URI=http://vault:8201
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
DISCOVERY_PREFER_IP=false
DISCOVERY_IP_ADDRESS=

HYPHA_CORE_VERSION=2025.1.11
HYPHA_FILES_VERSION=2025.1.3
HYPHA_GATEWAY_VERSION=2025.1.2
HYPHA_BFF_VERSION=2025.1.12
HYPHA_WORKFLOW_VERSION=2025.1.13
HYPHA_RESOURCES_VERSION=2025.1.19
HYPHA_TASKS_VERSION=2025.1.1
HYPHA_DASHBOARD_VERSION=2025.1.1
HYPHA_UI_VERSION=2025.1.80
HUB_AUTH_VERSION=2025.1.22
HUB_UI_VERSION=2025.1.80

HUB_AUTH_MAIL_SERVER_HOST=smtp.gmail.com
HUB_AUTH_MAIL_SERVER_POST=587
HUB_AUTH_MAIL_PROTOCOL=smtp
HUB_AUTH_MAIL_SMTP_AUTH=true
HUB_AUTH_MAIL_TLS_ENABLE=true
HUB_AUTH_MAIL_SSL_ENABLE=false
HUB_AUTH_MAIL_FROM=no-reply@mycesys.com

HUB_AUTH_LIMIT_MAX_RAM=1024m
HYPHA_BFF_LIMIT_MAX_RAM=2048m
HYPHA_CORE_LIMIT_MAX_RAM=1024m
HYPHA_WORKFLOW_LIMIT_MAX_RAM=1024m
HYPHA_TASK_MANAGER_LIMIT_MAX_RAM=1024m
HYPHA_RESOURCE_MANAGER_LIMIT_MAX_RAM=2048m
HYPHA_FILES_MANAGER_LIMIT_MAX_RAM=2048m
HYPHA_DASHBOARD_LIMIT_MAX_RAM=1024m
HYPHA_APP_GW_LIMIT_MAX_RAM=1024m

HYPHA_RESOURCE_MANAGER_CLUSTER_REFRESH_PERIOD_MS=60000

MALLOC_ARENA_MAX=4

# SECRETS

# required at any start
MYC_SERVICE_VAULT_ROLE_ID=45e35ef8-ef21-4787-966b-9d1b7eef3c96
MYC_SERVICE_VAULT_SECRET_ID=ef50b853-886b-481b-9699-22799c607197

# required only at first start
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

HUB_AUTH_SECRET=f5278bc4-055f-485e-9e31-3fe373ce81e4
HUB_ADMIN_PASSWORD=root

HUB_AUTH_MAIL_USERNAME=no-reply@mycesys.com
HUB_AUTH_MAIL_PASSWORD=-------

HUB_AUTH_DB_USERNAME=postgres
HUB_AUTH_DB_PASSWORD=postgres

# Used for AES encryption. Should be 32, 24 or 16 symbols length
HUB_AUTH_NOTIFICATION_CIPHER_KEY=45bc4e6623ff4ea49713f8e2abd1cd24
HYPHA_COMMON_CIPHER_KEY=20e40eaec65d453e8cb02c1b58e43bbf
HYPHA_SECRET=a74376d1-0a74-44c4-a7e5-d1dcf7701084

HYPHA_BFF_DB_USERNAME=postgres
HYPHA_BFF_DB_PASSWORD=postgres
HYPHA_CORE_DB_USERNAME=postgres
HYPHA_CORE_DB_PASSWORD=postgres
HYPHA_WORKFLOW_DB_USERNAME=postgres
HYPHA_WORKFLOW_DB_PASSWORD=postgres
HYPHA_TASK_MANAGER_DB_USERNAME=postgres
HYPHA_TASK_MANAGER_DB_PASSWORD=postgres
HYPHA_RESOURCE_MANAGER_DB_USERNAME=postgres
HYPHA_RESOURCE_MANAGER_DB_PASSWORD=postgres
HYPHA_FILES_MANAGER_DB_USERNAME=postgres
HYPHA_FILES_MANAGER_DB_PASSWORD=postgres
HYPHA_DASHBOARD_DB_USERNAME=postgres
HYPHA_DASHBOARD_DB_PASSWORD=postgres
HYPHA_3D_FREECAD_SERVICE_URL=3d-service-freecad:8000
HYPHA_3D_SERVICE_POSTGRES_URL=3d-service-db:5432
HYPHA_3D_SERVICE_SPRING_MAX_FILE_SIZE=2000MB
HYPHA_3D_SERVICE_SPRING_MAX_REQUEST_SIZE=2000MB
