OAUTH_ISSUER_URL=https://localhost:3001
FRONTEND_BASE_URL=https://localhost:3001
HYPHA_WEB_APP_BASE_URL=https://localhost
HUB_WEB_APP_BASE_URL=https://localhost:3001
WEB_APP_REDIRECT_URL=https://localhost/oauth/callback

SERVICE_CORE_URL=http://core:8081/
SERVICE_FILES_URL=http://file-manager:8097/
SERVICE_BFF_URL=http://bff:8100/
SERVICE_WORKFLOW_URL=http://workflow:8082/
SERVICE_RESOURCE_URL=http://resource-manager:8096/
SERVICE_TASK_URL=http://task-manager:8095/
SERVICE_DASHBOARD_URL=http://dashboard:8083/
SERVICE_AUTH_URL=http://auth:8098/
SSH_DEFAULT_KEY_PATH=/ssh/keys/hypha
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

CORE_VERSION=2023.1
FILE_MANAGER_VERSION=2023.1
APP_GATEWAY_VERSION=2023.1
AUTH_VERSION=2023.1
BFF_VERSION=2023.1
WORKFLOW_MANAGER_VERSION=2023.1
RESOURCE_MANAGER_VERSION=2023.1
TASK_MANAGER_VERSION=2023.1
DASHBOARD_VERSION=2023.1
HYPHA_FRONTEND_VERSION=2023.1
HUB_FRONTEND_VERSION=2023.1
