HUB_PUBLIC_URL=hypha.yourdomain.com
HUB_PUBLIC_PORT=8301
HYPHA_PUBLIC_URL=hypha.yourdomain.com
HYPHA_PUBLIC_PORT=8300

#NOTE: If you are going to use standard HTTP ports (80 for HTTP and 443 for HTTPS), 
# please set the URLs below manually without specifying the port (':80' or ':443'), as browsers automatically omit the port in such cases.

OAUTH_ISSUER_URL=https://${HUB_PUBLIC_URL}:${HUB_PUBLIC_PORT}
FRONTEND_BASE_URL=https://${HUB_PUBLIC_URL}:${HUB_PUBLIC_PORT}
HUB_WEB_APP_BASE_URL=https://${HUB_PUBLIC_URL}:${HUB_PUBLIC_PORT}
HYPHA_WEB_APP_BASE_URL=https://${HYPHA_PUBLIC_URL}:${HYPHA_PUBLIC_PORT}

SERVICE_CORE_URL=http://hypha-core:8081/
SERVICE_FILES_URL=http://hypha-files:8097/
SERVICE_BFF_URL=http://hypha-bff:8100/
SERVICE_WORKFLOW_URL=http://hypha-workflow:8082/
SERVICE_RESOURCE_URL=http://hypha-resources:8096/
SERVICE_TASK_URL=http://hypha-tasks:8095/
SERVICE_DASHBOARD_URL=http://hypha-dashboard:8083/
SERVICE_AUTH_URL=http://hub-auth:8098/

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

HUB_ADMIN_PASSWORD=root
HUB_AUTH_SECRET=set_random_long_string_here
HYPHA_SECRET=another_random_long_string_here

HUB_AUTH_DB_USERNAME=postgres
HUB_AUTH_DB_PASSWORD=postgres
HYPHA_CORE_DB_USERNAME=postgres
HYPHA_CORE_DB_PASSWORD=postgres
HYPHA_WORKFLOW_DB_USERNAME=postgres
HYPHA_WORKFLOW_DB_PASSWORD=postgres
HYPHA_TASK_MANAGER_DB_USERNAME=postgres
HYPHA_TASK_MANAGER_DB_PASSWORD=postgres
HYPHA_RESOURCE_MANAGER_DB_USERNAME=postgres
HYPHA_RESOURCE_MANAGER_DB_PASSWORD=postgres
HYPHA_FILES_MANAGER_DB_USERNAME=postgres
HYPHA_FILES_MANAGER_DB_PASSWORD=postgres
HYPHA_DASHBOARD_DB_USERNAME=postgres
HYPHA_DASHBOARD_DB_PASSWORD=postgres

HUB_AUTH_MAIL_SERVER_HOST=smtp.gmail.com
HUB_AUTH_MAIL_SERVER_POST=587
HUB_AUTH_MAIL_USERNAME=no-reply@mycesys.com
HUB_AUTH_MAIL_PASSWORD=secret
HUB_AUTH_MAIL_PROTOCOL=smtp
HUB_AUTH_MAIL_SMTP_AUTH=true
HUB_AUTH_MAIL_TLS_ENABLE=true
HUB_AUTH_MAIL_SSL_ENABLE=false
HUB_AUTH_MAIL_FROM=no-reply@mycesys.com

HYPHA_CORE_VERSION=2023.1.6
HYPHA_FILES_VERSION=2023.1.6
HYPHA_GATEWAY_VERSION=2023.1.9
HYPHA_BFF_VERSION=2023.1.8
HYPHA_WORKFLOW_VERSION=2023.1.9
HYPHA_RESOURCES_VERSION=2023.1.7
HYPHA_TASKS_VERSION=2023.1.4
HYPHA_DASHBOARD_VERSION=2023.1.4
HYPHA_UI_VERSION=2023.1.78
HUB_AUTH_VERSION=2023.1.22
HUB_UI_VERSION=2023.1.78
