services:
  hub-auth-db:
    image: postgres:14.3-alpine
    container_name: hub-auth-db
    ports:
      - "6431:5432"
    environment:
      POSTGRES_USER: ${HUB_AUTH_DB_USERNAME}
      POSTGRES_PASSWORD: ${HUB_AUTH_DB_PASSWORD}
      POSTGRES_DB: authdb
    volumes:
      - ./pg_auth/data:/var/lib/postgresql/data
    healthcheck:
      test: "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB} || pg_isready"
      interval: 5s
      timeout: 2s
      retries: 5
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
  hub-auth:
    image: "docker.mycesys.org:443/mycesys/hub-auth:${HUB_AUTH_VERSION}"
    container_name: hub-auth
    restart: on-failure
    ports:
      - "8098:8098"
    deploy:
      resources:
        limits:
          memory: ${HUB_AUTH_LIMIT_MAX_RAM}
        reservations:
          memory: ${HUB_AUTH_LIMIT_MAX_RAM}
    volumes:
      - ${PWD}/oauth/keys:/oauth/keys
      - ${PWD}/auth/user/avatars:/server/data/avatars
      - ${PWD}/licenses:/licenses
      - ${PWD}/ssl:/ssl
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://hub-auth-db:5432/authdb
      - USER_AVATARS_PATH=/server/data/avatars/
      - OAUTH_KEYS_PATH=/oauth/keys/
      - LICENSES_PATH=/licenses
    env_file:
      - ./.env
    depends_on:
      hub-auth-db:
        condition: service_healthy
      vault:
        condition: service_healthy
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
